<%- include('partials/header') -%>
<title>Edit Patient | Summit Medical</title>
<body class="main">
    <section class="title">
        <h2>Edit Study</h2>
    </section>

    <div class="edit-study">
        <section>
            <% study.forEach( el=> { %>
            <% if (el._id==studyId) { %>
                <form action="/edit/<%= el._id %>" method="POST">
                    <div class="row">
                        <div class="edit-field">
                            <label for="lab">Sleep lab:</label>
                            <select name="lab" id="lab">
                                <option value="<%= el.lab %>"><%= el.lab %></option>
                                <option value="Hackensack">Hackensack</option>
                                <option value="Wayne">Wayne</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="edit-field">
                            <label for="patientLastName">Last name:</label>
                            <input type="text" value="<%= el.patientLastName %>" name ="patientLastName">
                        </div>
                        <div class="edit-field">
                            <label for="patientFirstName">First name:</label>
                            <input type="text" value="<%= el.patientFirstName %>" name="patientFirstName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="edit-field">
                            <label for="studyDate">Date of study:</label>
                            <input type="date" value="<%= el.studyDate %>" name="studyDate">
                        </div>
                        <div class="edit-field">
                            <label for="studyAmount">No. of studies:</label>
                            <input type="text" value="<%= el.studyAmount %>" name="studyAmount">
                        </div>
                        <div class="edit-field">
                            <label for="techName">Assign to:</label>
                            <select name="techName" id="techName">
                            <option value="<%= el.techName %>"><%= el.techName %></option>
                            <% techs.forEach(tech => { %>
                                <option value="<%= tech.firstName %>"><%= tech.firstName %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="edit-field">
                            <label for="maskFitting">Mask fitting date:</label>
                            <input type="date" value="<%= el.maskFitting %>" name="maskFitting">
                        </div>
                        <div class="edit-field">
                            <label for="cpapOrder">CPAP order date:</label>
                            <input type="date" value="<%= el.cpapOrder %>" name="cpapOrder">
                        </div>
                        <div class="edit-field">
                            <label for="cpapReceived">CPAP received date:</label>
                            <input type="date" value="<%= el.cpapReceived %>" name="cpapReceived">
                        </div>
                    </div>
                    <div class="row">
                        <div class="edit-field">
                            <label for="techFollowUp">Last Tech follow-up:</label>
                            <input type="date" value="<%= el.techFollowUp %>" name="techFollowUp">
                        </div>
                        <div class="edit-field">
                            <label for="doctorFollowUp">Last Doctor follow-up:</label>
                            <input type="date" value="<%= el.doctorFollowUp %>" name="doctorFollowUp">
                        </div>
                    </div>
                    <div class="row">
                        <div class="edit-field">
                            <label for="comment">Comments:</label>
                            <textarea rows="4" cols="89" name="comment"><%= el.comment %></textarea>
                        </div>
                    </div>
                    <button class="btn btn-accent">Save</button>
                    <button class="btn" onclick="javascript:history.back()">Cancel</button>
                </form>
                <% } %>
                <% }) %>
        </section>
      </div>
</body>

<%- include('partials/footer') -%>