<%- include('partials/header') -%>
<body class="main">
    <!-- Title -->
    <section class="title">
        <h2><%= user.firstName %>'s Studies</h2>
        <div>
            <a href="/studies/hackensack">Hackensack</a>
            <span>|</span>
            <a href="/studies/wayne">Wayne</a>
        </div>
    </section>

    <section class="main-body">
        <!-- Search form -->
        <form action="/studies/hackensack/search" method="POST">
            <section class="search-bar">
                <label for="patient-search">Patient search:</label>
                <input type="text" placeholder="Search by last name..." name="searchInput" <% if (search != '') { %> 
                    value="<%= search %>" 
                <% } %>>
                <button class="btn btn-accent btn-lg">Search</button>
            </section>
        </form>

        <!-- Patient list -->
        <section class="table-container">
            <section id="hackensack" class="tab-content">
                <table>
                    <thead>
                        <tr>
                            <th colspan="11"><h3>My Studies</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="category-row">
                            <td></td>
                            <td>Patient Last Name</td>
                            <td>Patient First Name</td>
                            <td>Lab</td>
                            <td>Date of Study</td>
                            <td class="study-amount">Num. of Studies</td>
                            <td>Assigned to:</td>
                            <td class="study-comment">Comments</td>
                            <td>Completed by Tech</td>
                            <td>Completed by M.D.</td>
                            <td></td>
                        </tr>
                        <% for (let i = 0; i < userStudies.length; i++) {%>
                            <tr data-id="<%= userStudies[i]._id %>">
                                <td><%= i + 1 %></td>
                                <td class="last-name"><%= userStudies[i].patientLastName %></td>
                                <td class="first-name"><%= userStudies[i].patientFirstName %></td>
                                <td class="lab"><%= userStudies[i].lab %></td>
                                <td class="study-date"><%= moment(userStudies[i].studyDate).format('l') %></td>
                                <td><%= userStudies[i].studyAmount %></td>
                                <td><%= userStudies[i].techName %></td>
                                <td><%= userStudies[i].comment %></td>
                                <td class="<%= userStudies[i].techCompleted === true ? "techComplete" : "techIncomplete" %>"><i class="fa-solid fa-circle-check"></i></td>
                                <td class="<%= userStudies[i].doctorCompleted === true ? "doctorComplete" : "doctorIncomplete" %>"><i class="fa-solid fa-circle-check"></i></td>
                                <td class="edit-icons" data-id="<%= userStudies[i]._id %>">
                                    <a href="/study/<%= userStudies[i]._id %>"><i class="fa-regular fa-file-lines"></i></a>
                                    <a href="/edit/<%= userStudies[i]._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <i class="fa-solid fa-trash-can"></i>
                                </td>
                            </tr> %>
                        <% } %>
                    </tbody>
                </table>
            </section>
        </section>

        <!-- Add study form -->
        <button class="add-patient btn btn-xs sm:btn-sm md:btn-md lg:btn-lg btn-accent" onclick="openForm()">Add</button>
        <section class="form-popup" id="patient-form">
            <form action="/studies/addStudy" method="POST" class="form-container">
                <h2 class="form-header">Add study</h2>

                <div class="form-fields">
                    <div class="lab-select">
                        <label for="lab">Sleep lab:</label>
                        <select name="lab" id="lab">
                            <option value="select" selected="true" disabled="disabled">Select lab</option>
                            <option value="Hackensack">Hackensack</option>
                            <option value="Wayne">Wayne</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="patientLastName">Last name:</label>
                        <input type="text" name="patientLastName">
                    </div>
                    <div class="field">
                        <label for="patientFirstName">First name:</label>
                        <input type="text" name="patientFirstName">
                    </div>
                    <div class="field">
                        <label for="studyDate">Date of study:</label>
                        <input type="date" name="studyDate">
                    </div>
                    <div class="field">
                        <label for="studyAmount">No. of studies:</label>
                        <input type="text" name="studyAmount">
                    </div>
                    <div class="field">
                        <label for="techName">Assign to:</label>
                        <select name="techName" id="techName">
                            <option value=""></option>
                            <% techs.forEach(tech => { %>
                                <option value="<%= tech.firstName %>"><%= tech.firstName %></option>
                                <% }) %>
                        </select>
                    </div>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn">Add</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                </div>
            </form>
        </section>

    </section>
</body>

<%- include('partials/footer') -%>