<%- include('partials/header') -%>

<!-- Title -->
<section class="title">
    <h1>Home Sleep Study Tracker</h1>
    <h3>For the office of Samuel H.S. The</h3>
</section>

<section>
    <h2><%= `${study.patientLastName}, ${study.patientFirstName}` %></h2>
    <span>Lab: <%= study.lab %></span>
    <span>Date of Study: <%= study.studyDate %></span>
    <span>Assigned to: <%= study.techName %></span>
    <p>Comments: <%= study.comment %></p>
    <a href="/edit/<%= study._id %>">Edit</a>
</section>
<%- include('partials/footer') -%>