<%- include('partials/header') -%>

<!-- Title -->
<!-- <section class="title">
    <h1>Home Sleep Study Tracker</h1>
    <h3>For the office of Samuel H.S. The</h3>
</section> -->

<section class="study">
    <section>
        <h2><%= `${study.patientLastName}, ${study.patientFirstName}` %></h2>
        <span><b>Lab:</b> <%= study.lab %></span>
        <span><b>Date of Study:</b> <%= moment(study.studyDate).format('l') %></span>
        <span><b>Assigned to:</b> <%= study.techName %></span>
        <span><b>Comments:</b></span>
        <p><%= study.comment %></p>
    </section>
    <a class="btn btn-accent" href="/edit/<%= study._id %>">Edit</a>
    <form class="delete-btn" action="/edit/deleteFromViewStudy/<%= study._id %>?_method=DELETE" method="POST">
        <button class="btn btn-accent">Delete</button>
    </form>
</section>
<%- include('partials/footer') -%>