<%- include('partials/header') -%>
<title>Wayne Lab | Summit Medical</title>
<body class="main">
    <!-- Title -->
    <section class="title">
        <h2>Wayne Lab</h2>
        <div>
            <a href="/studies/hackensack">Hackensack</a>
            <span>|</span>
            <a href="/studies/hackensack-cpap">Hackensack CPAP</a>
            <span>|</span>
            <span class="active-lab">Wayne</span>
        </div>
    </section>

    <section class="main-body">
        <!-- Search form -->
        <form action="/studies/wayne/search" method="POST">
            <section class="search-bar">
                <label for="patient-search">Patient search:</label>
                <input type="text" placeholder="Search by last name..." name="searchInput" <% if (search != '') { %> 
                    value="<%= search %>" 
                <% } %>>
                <button class="btn btn-accent md:btn-md lg:btn-lg">Search</button>
            </section>
        </form>

        <!-- Patient list -->
        <section class="table-container">
            <section id="wayne" class="tab-content">
                <table>
                    <thead>
                        <tr>
                            <th colspan="11"><h3>Wayne</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="category-row">
                            <td></td>
                            <td>Patient Last Name</td>
                            <td>Patient First Name</td>
                            <td>Date of Study</td>
                            <td class="study-amount">Num. of Studies</td>
                            <td>Assigned to:</td>
                            <td class="study-comment">Comments</td>
                            <td>In Network</td>
                            <td>Completed by Tech</td>
                            <td>Completed by M.D.</td>
                            <td class="edit-icons">View/Edit/Delete</td>
                        </tr>
                        <% for (let i = 0; i < wayne.length; i++) {%>
                            <tr data-id="<%= wayne[i]._id %>">
                                <td><%= i + 1 %></td>
                                <td class="last-name"><%= wayne[i].patientLastName %></td>
                                <td class="first-name"><%= wayne[i].patientFirstName %></td>
                                <td class="study-date"><%= moment(wayne[i].studyDate).format('l') %></td>
                                <td><%= wayne[i].studyAmount %></td>
                                <td><%= wayne[i].techName %></td>
                                <td><% const commentBreaks = wayne[i].comment.split('\r\n') %>
                                    <% for (let i = 0; i < commentBreaks.length; i++) {%>
                                        <p><%= commentBreaks[i] %></p>
                                    <%} %>
                                </td>
                                <td class="<%= wayne[i].inNetwork === true ? "inNetwork" : "outNetwork" %>"><i class="fa-solid fa-circle-check"></i></td>
                                <td class="<%= wayne[i].techCompleted === true ? "techComplete" : "techIncomplete" %>"><i class="fa-solid fa-circle-check"></i></td>
                                <td class="<%= wayne[i].doctorCompleted === true ? "doctorComplete" : "doctorIncomplete" %>"><i class="fa-solid fa-circle-check"></i></td>
                                <td class="edit-icons" data-id="<%= wayne[i]._id %>">
                                    <a href="/study/<%= wayne[i]._id %>"><i class="fa-regular fa-file-lines"></i></a>
                                    <a href="/edit/<%= wayne[i]._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form action="/edit/deleteStudy/<%= wayne[i]._id %>?_method=DELETE" method="POST">
                                        <button><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </td>
                            </tr> <% } %>
                         %>
                    </tbody>
                </table>
            </section>
        </section>
        <!-- Add study form -->
        <button class="add-patient btn md:btn-md lg:btn-lg btn-accent" onclick="openForm()">Add Study</button>
        <section class="form-popup" id="patient-form">
            <form action="/studies/addStudy" method="POST" class="form-container">
                <h2 class="form-header">Add study</h2>

                <div class="form-fields">
                    <div class="lab-select">
                        <label for="lab">Sleep lab:</label>
                        <select name="lab" id="lab">
                            <option value="select" disabled="disabled">Select lab</option>
                            <option value="Hackensack">Hackensack</option>
                            <option value="Wayne" selected="true">Wayne</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="patientLastName">Last name:</label>
                        <input type="text" name="patientLastName">
                    </div>
                    <div class="field">
                        <label for="patientFirstName">First name:</label>
                        <input type="text" name="patientFirstName">
                    </div>
                    <div class="field">
                        <label for="studyDate">Date of study:</label>
                        <input type="date" name="studyDate">
                    </div>
                    <div class="field">
                        <label for="studyAmount">No. of studies:</label>
                        <input type="text" name="studyAmount">
                    </div>
                    <div class="field">
                        <label for="techName">Assign to:</label>
                        <select name="techName" id="techName">
                            <option value=""></option>
                            <% techs.forEach(tech => { %>
                                <option value="<%= tech.firstName %>"><%= tech.firstName %></option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="field">
                        <label for="comment">Comments:</label>
                        <textarea rows="4" cols="50" name="comment"></textarea>
                    </div>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn">Add</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                </div>
            </form>
        </section>

    </section>
</body>
<%- include('partials/footer') -%>